@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    color: #1a1a1a;
}

h2 {
    font-size: 200%;
    padding: 70px;
}

/* header and logo */

header {
    background-color: #011d3b;
    height: 100px;
}

#logo {
    float: left;
    height: 50%;
    margin: 25px 10%;
}

/* header navigation links */

#menu {
    float: right;
    margin-right: 10%;
}

#menu, #logo {
    line-height: 100px;
}

#menu>li {
    display: inline;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    padding-bottom: 36px;
}

#menu a:hover {
    color: #4ab74c;
    border-bottom: 5px solid #ffffff;
}

/* hero image and cover text */

#hero-outer {
    height: 600px;
    width: 100%;
    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    /* image by https://www.pexels.com/photo/blue-solar-panel-board-356036/ */
    background: url(../images/hero-image.jpg) no-repeat center center;
    background-color: #011d3b;
    background-size: cover;
}

#cover-text {
    color: #ffffff;
    text-align: center;
    width: 500px;
    padding: 20px 20px;
    background-color: rgba(1, 29, 59, 0.9);

    position: absolute;
    bottom: 20%;
    right: 10%;
}

#cover-text h1 {
    font-size: 200%;
    color: #4ab74c;
    padding-bottom: 10px;
}

/* book-a-call button */
#book-a-call {
    color: #ffffff;
    text-decoration: none;
}

#book-a-call h3 {
    width: 150px;
    margin: 20px auto 0;
    padding: 10px;
    box-shadow: 2px 2px #ffffff;
    background-color: #4ab74c;
}

#book-a-call h3:hover {
    box-shadow: 2px 2px #4ab74c;
    background-color: #011d3b;
}

#book-a-call h3:active {
    color: #4ab74c;
}

/* our solutions */

#solutions {
    text-align: center;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

#solutions-solar {
    float: left;
    width: 33.3%;
    height: 300px;
    background: url(../images/solar.jpg) no-repeat center center;
    background-size: cover;
}

#solutions-wind {
    float: left;
    width: 33.3%;
    height: 300px;
    background: url(../images/wind.jpg) no-repeat center center;
    background-size: cover;
}

#solutions-hydro {
    float: left;
    width: 33.3%;
    height: 300px;
    background: url(../images/hydro.jpg) no-repeat center center;
    background-size: cover;
}

#solutions div div {
    color: #ffffff;
    font-size: 200%;
    height: 100%;
    width: auto;
    padding: 120px 0;
    box-sizing: border-box;
    background-color: rgba(1, 29, 59, 0.6);
}

.solutions-container {
    color: #ffffff;
    font-size: 120%;
    text-align: left;
    float: left;
    width: 33.3%;
    height: 300px;
    padding: 40px 3em;
    box-sizing: border-box;
    background-color: #011d3b;
}