@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    text-align: center;
    color: #1a1a1a;
}

h2 {
    font-size: 200%;
    padding: 90px 0;
}

/* header and logo */

header {
    background-color: #011d3b;
    height: 100px;
}

#logo {
    float: left;
    height: 50%;
    margin: 25px 10%;
}

/* header navigation links */

#menu {
    float: right;
    margin-right: 10%;
}

#menu, #logo {
    line-height: 100px;
}

#menu>li {
    display: inline;
    list-style-type: none;
    padding: 0 15px;
}

#menu a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    padding-bottom: 36px;
}

#menu a:hover {
    color: #4ab74c;
    border-bottom: 5px solid #ffffff;
}

.active-page {
    color: #4ab74c;
    border-bottom: 5px solid #ffffff;
}

/* hero image and cover text */

#hero-outer {
    height: 600px;
    width: 100%;
    position: relative;
}

#hero-image {
    display: block;
    height: 600px;
    width: 100%;
    background: url(../images/hero-image.jpg) no-repeat center center; /* image by https://www.pexels.com/photo/blue-solar-panel-board-356036/ */
    background-size: cover;
}

#cover-text {
    color: #ffffff;
    text-align: center;
    width: 500px;
    padding: 20px 20px;
    background-color: rgba(1, 29, 59, 0.9);
    position: absolute;
    bottom: 20%;
    right: 10%;
    box-sizing: border-box;
}

#cover-text h1 {
    font-size: 200%;
    color: #4ab74c;
    padding-bottom: 10px;
}

/* book-a-call button */

.book-a-call {
    width: 170px;
    margin: 20px auto 0;
    padding: 10px;
    box-shadow: 2px 2px #ffffff;
    background-color: #4ab74c;
}

.book-a-call a {
    color: #ffffff;
    font-size: 140%;
    font-weight: 800;
    text-decoration: none;
}

.book-a-call:hover {
    box-shadow: 2px 2px #4ab74c;
    background-color: #011d3b;
}

.book-a-call:active {
    color: #4ab74c;
}

/* our solutions */

#solutions {
    text-align: center;
    width: 100%;
    overflow: hidden;
}

#solutions h3 {
    color: #ffffff;
    font-size: 220%;
    padding-bottom: 70px;
}

#solutions-solar {
    float: left;
    width: 33.3%;
    height: 400px;
    background: url(../images/solar.jpg) no-repeat center center; /* image by: https://www.pexels.com/photo/solar-panels-7102661/ */
    background-size: cover;
}

#solutions-wind {
    float: left;
    width: 33.3%;
    height: 400px;
    background: url(../images/wind.jpg) no-repeat center center; /* image by: https://www.pexels.com/photo/photo-of-wind-turbines-under-cloudy-sky-3619870/ */
    background-size: cover;
}

#solutions-hydro {
    float: left;
    width: 33.3%;
    height: 400px;
    background: url(../images/hydro.jpg) no-repeat center center; /* image by: https://unsplash.com/photos/FUeb2npsblQ */
    background-size: cover;
}

.solutions-container {
    color: #ffffff;
    height: 100%;
    width: auto;
    padding: 15vh 4vw 0;
    box-sizing: border-box;
    background-image: linear-gradient(rgba(1, 29, 59, 0.3), rgba(1, 29, 59, 0.9), #011d3b);
}

/* how we can help section */

#help {
    clear: both;
    text-align: center;
}

#help h3 {
    font-size: 150%;
    padding-bottom: 20px;
}

#help p {
    text-align: justify;
}

#solar-commercial {
    float: left;
    width: 50%;
    height: 400px;
    background: url(../images/solar-commercial1.jpg) no-repeat center center; /* image by: https://unsplash.com/photos/aQOzmgcT6sI */
    background-size: cover;
}

#solar-farm {
    float: right;
    width: 50%;
    height: 400px;
    background: url(../images/solar-farm1.jpg) no-repeat center center; /* image by: https://pixabay.com/photos/solar-farm-solar-energy-4443338/ */
    background-size: cover;
}

#solar-residential {
    float: left;
    width: 50%;
    height: 400px;
    background: url(../images/solar-residential.jpg) no-repeat center center; /* image by: https://www.pexels.com/photo/solar-panels-on-tiled-roofs-of-a-house-8457868/ */
    background-size: cover;
}

.help-text-right {
    float: right;
    width: 50%;
    height: 400px;
    padding: 150px 10vw;
    background-color: #f7f7f7;
    box-sizing: border-box;
}

.help-text-left {
    float: left;
    width: 50%;
    height: 400px;
    padding: 150px 10vw;
    background-color: #f7f7f7;
    box-sizing: border-box;
}

/* call to action with a button */

#call-to-action {
    clear: both;
    text-align: center;
    height: 200px;
    padding: 100px 50px 10px;
}

#call-to-action h2 {
    padding: 10px;
}

/* footer */

footer {
    color: #ffffff;
    text-align: left;
    background-color: #011d3b;
    height: 400px;
    width: 100%;
    overflow: hidden;
}

footer h3 {
    padding-bottom: 20px;
}

footer li {
    list-style-type: none;
}

#logo-footer {
    float: left;
    width: 35%;
    padding: 100px 0 5% 10%;
    box-sizing: border-box;
}

#logo-footer img {
    height: 100px;
}

#logo-footer a:hover {
    border-bottom: none;
}

#menu-footer {
    float: left;
    width: 20%;
    margin: auto;
    padding: 100px 0 5%;
    line-height: 2em;
    box-sizing: border-box;
}

#contact-footer {
    float: right;
    width: 45%;
    line-height: 1.5em;
    padding: 100px 10% 5% 0;
    box-sizing: border-box;
}

footer a {
    color: inherit;
    text-decoration: none;
}

footer a:hover {
    color: #4ab74c;
    border-bottom: 3px solid #ffffff;
}

.footer-active-page {
    color: #4ab74c;
    border-bottom: 3px solid #ffffff;
}

footer hr {
    clear: both;
    border: 0.5px solid white;
    width: 80%;
    margin: 0 auto;
}

footer span {
    display: inline-block;
    padding: 20px 0px 20px 10%;
}

#social-footer {
    float: right;
    padding: 10px 10% 20px 0px;
}

#social-footer li {
    display: inline;
    font-size: 200%;
    margin: 0 20px;
}

/* about us cover image and title */

#about-cover {
    height: 500px;
    width: 100%;
    background: url(../images/header-about.jpg) no-repeat center center; /* image by: https://www.pexels.com/photo/solar-panels-on-roof-137602/ */
    background-size: cover;
}

#about-cover-text {
    padding-top: 230px;
}

#about-cover-text h1{
    text-align: center;
    color: #ffffff;
    width: 600px;
    margin: auto;
    padding: 20px 20px;
    background-color: rgba(1, 29, 59, 0.9);
    box-shadow: #4ab74c 3px 3px;
}

/* about us section */

#about {
    padding-bottom: 90px;
    background-color: #f7f7f7;
}

#about h2 {
    text-align: left;
    padding-bottom: 20px;
}

#about-text {
    text-align: justify;
    width: 60%;
    margin: auto;
}

/* our projects section */

.projects-container {
    float: left;
    width: 33.3%;
    height: 600px;
    background-color: #f7f7f7;
}

.projects-container img {
    width: 100%;
}

.projects-container h3 {
    padding: 30px;
}

.projects-container p {
    text-align: justify;
    padding: 0 4vw 3vw;
}

/* contact page cover image and title */

#contact-cover {
    height: 500px;
    width: 100%;
    background: url(../images/header-contact.jpg) no-repeat center center; /* image by: https://www.pexels.com/photo/solar-technician-inspecting-solar-panel-4254171/ */
    background-size: cover;
}

#contact-cover-text {
    padding-top: 230px;
}

#contact-cover h1 {
    text-align: center;
    color: #ffffff;
    width: 600px;
    margin: auto;
    padding: 20px 20px;
    background-color: rgba(1, 29, 59, 0.9);
    box-shadow: #4ab74c 3px 3px;
}

/* contact form */

#form-section {
    background-color: #dedede;
    overflow: hidden;
}

.form {
    text-align: left;
    width: 50%;
    margin: 150px auto;
    padding: 50px 20px;
    border-radius: 5px;
    background-color: #ffffff;
    box-sizing: border-box;
}

.form h3 {
    text-align: center;
    font-size: 150%;
    padding-bottom: 40px;
}

.text-input {
    width: 100%;
    padding: 15px 10px;
    margin: 10px 0;
    border: 1px solid #011d3b;
    border-radius: 3px;
    box-sizing: border-box;
}

.text-input:hover {
    border-color: #4ab74c;
}

input[type="submit"] {
    color: #ffffff;
    font-size: 120%;
    font-weight: 700;
    width: 180px;
    margin-right: 20px;
    padding: 10px;
    background-color: #4ab74c;
    box-shadow: #011d3b 3px 3px;
    display: inline-block;
}

input[type="submit"]:hover {
    background-color: #011d3b;
    box-shadow: #4ab74c 3px 3px;
}

input[type="reset"] {
    color: #1a1a1a;
    font-size: 120%;
    font-weight: 700;
    width: 180px;
    margin-right: 20px;
    padding: 10px;
    background-color: #f7f7f7;
    box-shadow: #011d3b 3px 3px;
    display: inline-block;
}

input[type="reset"]:hover {
    background-color: #dedede;
}

/* media queries */

/* large to medium screen sizes from 1000px wide and down */

@media screen and (max-width: 1000px){
    
    #cover-text {
        width: 80%;
    }

    .solutions-container {
        padding: 13vh 1vw 0;
    }

    .help-text-right {
        padding: 100px 5vw;
    }
    
    .help-text-left {
        padding: 100px 5vw;
    }

    #logo-footer {
        width: 30%;
    }

    #logo-footer img {
        height: 80px;
    }

    #contact-footer {
        width: 50%;
        padding: 100px 0 5%;
    }    

    #menu-footer {
        width: 20%;
        padding: 100px 0 5% 5%;
    }

    #about-text {
        width: 70%;
    }

    .projects-container {
        height: 500px;
    }

    .projects-container p {
        padding: 0 2vw;
    }

    .form {
        width: 60%;
    }
    
}

/* small screen sizes from 800px wide and down */

@media screen and (max-width: 800px) {

    header {
        height: 100%;
    }
    
    #logo {
        float: none;
        height: 50px;
        margin: 40px auto 0;
    }

    #menu {
        float: none;
        margin: 0 auto;
    }
    
    #hero-outer {
        height: 500px;
    }
    
    #hero-image {
        height: 500px;
    }

    #solutions-solar {
        width: 100%;
        height: 300px;
    }
    
    #solutions-wind {
        width: 100%;
        height: 300px;
    }
    
    #solutions-hydro {
        width: 100%;
        height: 300px;
    }
    
    .solutions-container {
        padding: 10vh 4vw 0;
    }

    #solar-commercial {
        width: 100%;
        height: 300px;
    }

    #solar-farm {
        width: 100%;
        height: 300px;
    }

    #solar-residential {
        width: 100%;
        height: 300px;
    }

    .help-text-right {
        width: 100%;
        height: 300px;
        padding: 10vh 10vw;
    }

    .help-text-left {
        width: 100%;
        height: 300px;
        padding: 10vh 10vw;
    }

    #call-to-action {
        height: 100%;
        padding: 10vh 5vw;
    }
    
    #call-to-action h2 {
        padding: 0;
    }

    footer {
        height: 100%;
        width: 100%;
        overflow: hidden;
    }

    #logo-footer {
        float: none;
        width: 100%;
        text-align: center;
        margin: 50px auto 0;
        padding: 0;
    }

    #logo-footer img {
        height: 100px;
    }

    #menu-footer {
        float: none;
        text-align: center;
        width: 100%;
        padding: 0;
        margin: 25px auto 0;
    }

    #menu-footer>li {
        display: inline;
        padding: 0 20px;
    }

    #contact-footer {
        float: none;
        text-align: left;
        width: 80%;
        padding: 0;
        margin: 50px auto;
    }

    #social-footer {
        float: none;
        text-align: center;
        padding: 20px 0 40px;
    }
    
    #about-cover-text h1{
        width: 80%;
    }

    .projects-container {
        width: 100%;
        height: 100%;
    }
    
    .projects-container p {
        padding: 0 4vw 10vh;
    }

    #contact-cover h1 {
        width: 80%;
    }

    .form {
        width: 95%;
    }

    input[type="submit"] {
        width: 150px;
        margin-right: 10px;
    }

    input[type="reset"] {
        width: 150px;
        margin-right: 0;
    }
    
}